/* ProductsDetail.module.css */

.container {
    margin-top: 8%;
    margin-bottom: 8%;
}

.product-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-detail-title {
    text-align: center;
    margin-bottom: 20px;
    color: #2ba98e;
    font-weight: bold;
}

.product-detail-card {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.product-detail-card:hover {
    transform: scale(1.01);
}

.back-button {
    background-color: #2ba98e;
    color: white;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
    background-color: #238c7c;
    transform: scale(1.05);
}

.update-button, .delete-button {
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.update-button:hover, .delete-button:hover {
    transform: scale(1.05);
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.upload-label {
    background-color: #2ba98e;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.upload-label:hover {
    background-color: #238c7c;
    transform: scale(1.05);
}

.upload-input {
    display: none;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
