/* styles/StoreDetail.module.css */
.container {
    margin-top: 8%;
    margin-bottom: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.store-detail-container {
    width: 100%;
    max-width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.store-detail-card {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.store-detail-title {
    color: #2ba98e;
    font-weight: bold;
    margin-bottom: 20px;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #2ba98e;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #238c7c;
    transform: translateY(-3px);
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
    position: relative;
}

.upload-label {
    background-color: #2ba98e;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.upload-label:hover {
    background-color: #238c7c;
}

.upload-input {
    display: none;
}

.cover-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #2ba98e;
}

.product-card {
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-card {
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comment-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.comment-delete-button {
    margin-top: 10px;
}

.search-bar {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #2ba98e;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 25px;
}

.pagination button:hover {
    background-color: #238c7c;
    transform: translateY(-3px);
}
